#veryTopNav {
    font-size: 0.9em;
    display: flex;
    background-color: black;
    color: lightgray;
    border-bottom: none;
}

#veryTopNav h1, #veryTopNav li {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
}

#veryTopNav a {
    color: gray;
}

#mainHeading {
    font-size: 2em;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(61, 108, 139);
    color: white;
    font-weight: normal;
}


.fullWidthNav {
    display: flex;
    padding: 0 var(--global-margin);

}

.fullWidthNav h1 {
    padding: 5px 10px 5px 0;
    margin: 0;
    font-size: 1em;
    font-style: normal;
}

.fullWidthNav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fullWidthNav ul li {
    margin: 0;
    padding: 5px 12px;
}

#mainNav ul li:first-of-type {
    margin-left: -12px;
}

#appHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}

#mainHeading {
    padding-left: var(--global-margin);
}

#mainNav {
    background-color: rgb(210, 213, 214);
    font-size: 1.05em;
}

#mainNav li.selected {
    background-color: rgb(58, 92, 121);
}

#appHeader a {
    color: rgb(29, 29, 29);
}

#appHeader .selected a {
    color: rgb(213, 216, 218);
}