#veryTopNav {
    font-size: 1em;
    display: flex;
    background-color: rgb(31, 31, 31);
    color: rgb(190, 190, 190);
    border-bottom: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

#veryTopNav h1, #veryTopNav li {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
}

#veryTopNav a {
    color: rgb(190, 190, 190);
}

#mainHeading {
    font-size: 2.3em;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(61, 108, 139);
    color: white;
    font-weight: normal;
}

#mainHeaderLogo {
    height: 50px;
}

.fullWidthNav {
    display: flex;
    padding: 0 var(--global-margin);

}

.fullWidthNav h1 {
    padding: 5px 10px 5px 0;
    margin: 0;
    font-size: 1em;
    font-style: normal;
}

.fullWidthNav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fullWidthNav ul li {
    margin: 0;
    padding: 5px 12px;
}

#mainNav ul li:first-of-type {
    margin-left: -12px;
}

#appHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}

#mainHeading {
    padding-left: var(--global-margin);
}

#mainNav {
    background-color: rgb(136, 136, 136);
    opacity: 0.95;
    font-size: 17px;
}

#mainNav li {
    transition: all 0.25s ease;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainNav li.selected {
    background-color: white;
}

#mainNav li:hover {
    background-color: rgb(236, 235, 235);
}

#appHeader a {
    color: rgb(29, 29, 29);
}