main {
    padding: 0 var(--global-margin) var(--global-margin) var(--global-margin);
    margin-bottom: var(--footer-height);
}
#mainDiv {
    display: flex;
    align-items: flex-start;
}
#app h1 {
    margin: 10px 0;
    font-size: 2.2em;
    font-weight: 500;
}

#home {
    padding-right: 20%;
}

#home p, #home li {
    font-size: 1.3em;
}