main {
    margin-bottom: var(--footer-height);
}

#mainDiv {
    display: flex;
    align-items: flex-start;
}

#mainDiv.withSidebar {
    padding-left: var(--global-margin-small);
}

#app h1 {
    margin: 10px 0;
    font-size: 2.2em;
    font-weight: 500;
}

#home p, #home li {
    font-size: 1.3em;
}

.defaultMargin {
    padding-left: var(--global-margin);
    padding-right: var(--global-margin);
}

.wideMargin {
    padding-left: var(--global-margin-medium);
    padding-right: var(--global-margin-medium);
}

.extraWideMargin {
    padding-left: var(--global-margin-small);
    padding-right: var(--global-margin-small);
}

.sidesPadded {
    padding-left: var(--global-margin);
    padding-right: var(--global-margin);
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    overflow: scroll;
}