main {
    margin-bottom: var(--footer-height);
}

#mainDiv {
    display: flex;
    align-items: flex-start;
}

#app h1 {
    margin: 10px 0;
    font-size: 2.2em;
    font-weight: 500;
}

#home p, #home li {
    font-size: 1.3em;
}

.sidesPadded {
    padding-left: var(--global-margin);
    padding-right: var(--global-margin);
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    overflow: scroll;
}

#app {
    position: sticky;
    top: 0;
}