#ratingsBar {
    margin: 0;
    column-count: 4;
    column-width: 200px;
    list-style-type: none;
}

.buildingPage {
    display: flex;
    align-items: flex-start;
}

#ratingsBar li {
    min-width: 200px;
}

#titleAndBack h1 {
    margin-bottom: 0;
}

#buildingRating {
    min-width: 150px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 30px;
    margin-left: 15px;
}

#buildingRating h2 {
    margin: 8px 0;
    font-weight: 500;
}

#ratingsList {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    white-space: pre-wrap;
    overflow: scroll;
}

#ratingsList li {
    margin: 4px 0;
}

h1#buildingName {
    margin-bottom: 0px;
}

#buildingDescription {
    font-size: 1.4em;
}