.imageMasonry {
    columns: 4;
    column-width: 300px;
    overflow: scroll;
}

.imageBlock {
    overflow: hidden;
    column-span: none;
    display: inline-block;
    margin: 0;
}

.imageBlock .imageContainer {
    width: 100%;
    max-height: 400px;
}

.imageBlock img {
    object-fit: cover;
    width: 100%;
    min-height: 400px;
}